@(urlForm: Form[String], shortenedUrlOpt: Option[String] = None)(implicit request: MessagesRequestHeader)

@import helper._

@main("URL Shortener") {
    <h1>URL Shortener</h1>
    @for(shortenedUrl <- shortenedUrlOpt) {
        <div>
            <p><b>Your short URL:</b></p>
            <a href="@shortenedUrl">@shortenedUrl</a>
        </div>
    }
    <div>
        <p><b>Enter source URL here:</b></p>
        @helper.form(action = routes.HomeController.submitUrl()) {
            @CSRF.formField
            @helper.inputText(urlForm("url"), args = '_label -> "", 'size -> 100, 'placeholder -> "http://")
        }
    </div>
}
