@(urlForm: Form[String], shortenedUrlOpt: Option[String] = None)(implicit request: MessagesRequestHeader)

@import helper._

@main("URL Shortener") {
    <h1>URL Shortener</h1>
    @for(shortenedUrl <- shortenedUrlOpt) {
        <div>
            <p><b>Your short URL:</b></p>
            <p>@shortenedUrl</p>
        </div>
    }
    <div><b>Enter your URL here:</b></div>
    @helper.form(action = routes.HomeController.submitUrl()) {
        @CSRF.formField
        @helper.inputText(urlForm("url"))
    }
}
